# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
uv.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Type checker
.mypy_cache/
.pyre/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Config file
config.json

# Huggingface models
models/

# Misc
*.lnk
*.vbs